.all_boxs{
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column
}

.header_1{
    width: 100%;
    background-color: yellow;
    text-align: center;
    height: 20%;
}

.boxs_1{
    width: 100%;
    display: flex;
    height: 60%;
}

.nav_1{
    width: 30%;
    height: 100%;
    background-color: pink;
    text-align: center;
}

.r_boxs{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.r_box{
    display: flex;
    width: 100%;
    height: 33.333%;
}

figure{
    width: 30%;
    height: 100%;
    background-color: darkseagreen;
    text-align: center;
}

figcaption{
    background-color: blueviolet;
    margin-top: 48px;
}

article{
    width: 70%;
    height: 100%;
    text-align: center;
    background-color:cyan;
}

.header_2{
    background-color: bisque;
}

.footer_1{
    background-color: burlywood;
}

.footer_2{
    background-color: wheat;    
    text-align: center;
    height: 20%;
}